[Desktop Entry]
Type=Application
Name=Ankama Launcher
Exec=/opt/AnkamaLauncher.AppImage
Icon=/usr/share/icons/AnkamaLauncher.png
Categories=Audio;Music;Player;AudioVideo;